<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.posts() %>">posts</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">New posts</a></li>
</ul>

<div class="page-header">
    <h1>New posts</h1>
</div>

<% var form = formFor(posts, {action: pathTo.posts(), method: 'POST', id: "posts-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Create posts', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.posts(), {class: 'btn'}) %>
</div>
<%- form.end() %>
