<div class="content-item clearfix" data-id="<%- post.id %>">
    <div class="post-header">
        <h3>
            <a href="//<%- post.url %>"><%- post.title %></a>
        </h3>

        <div class="content-metadata">
            <div class="links clearfix">
                <% if (post.author) { %>
                    <span class="link">
                        <%- __('By') %> <a href="<%- specialPagePath('profile', { username: post.author.username }) %>" rel="hovercard" data-url="<%- pathFor('user').hovercard(post.author.id) %>"><%- post.author.displayName %></a>
                    </span>
                <% } %>

                <span class="link">
                    <a href="//<%- post.url %>#comments" class="link">
                        <% if((post.comments || []).length === 0) { %>
                            <%- __('No comments') %>
                        <% } else if(post.comments.length === 1) { %>
                            <%- __('1 comment') %>
                        <% } else { %>
                            <%- __('%s comments', post.comments.length) %> 
                        <% } %>
                    </a>
                </span>

                <span><%- fromNow(post.createdAt) %></span>

                <% if(post.location) { %>
                    <span><%- post.location %></span>
                <% } %>
            </div>
        </div>
    </div>

    <div class="post-text">
        <div class="<%- post.previewImage ? 'row':'' %>">
            <% if(post.previewImage) { %>
                <div class="pull-left span2">
                    <a href="//<%- post.url %>" class="img-rounded">
                        <img src="<%- post.previewImage %>?dim=0x200"  />
                    </a>
                </div>
            <% } %>

            <div class="<%- post.previewImage ? 'offset2':'' %>">
                <p>
                    <%- post.excerpt || stripHtml(post.text, 400) %>
                    <a href="//<%- post.url %>"><%- __('Read more') %> &raquo;</a>
                </p>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="content-footer"></div>
</div>