<% var form = formFor(post, {
    remote: true,
    action: (post.id ? pathTo.contentEntry(post.id) : pathTo.content) + '.json',
    id: 'content-form',
    class: 'content-form'
}) %>

<%- form.begin() %>
<%- form.input('type', {type: 'hidden'}) %>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <%- form.label('title', t('post.title'), {class: 'form-label'}) %>
            <%- form.input('title', {class: 'form-control'}) %>
        </div>

        <%- form.textarea('text', {rows: 35, class: 'richtext span6'}) %>
    </div>

    <div class="col-md-4">
        <br>

        <div class="form-group">
            <%- form.submit(t('post.actions.publish'), {class: 'btn btn-primary'}) %>
            <%- form.button(t('post.actions.draft'), {class: 'btn'}) %>
        </div>

        <div class="form-group">
            <%- form.label('createdAt', t('post.createdAt')) %>
            <p class="instructions"><%= t('post.instructions.createdAt') %></p>
            <div class="input-append date" id="createdAtDatePicker">
                <%- form.input('createdAt', {class: 'form-control', 'data-format': datetimeformat.replace(/DD/ig, 'dd').replace(/YY/ig, 'yy').replace(/HH/, 'hh') })
                %><span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="form-group">
            <%- form.label('tags', t('post.tags')) %>
            <p class="instructions"><%= t('post.instructions.tags') %></p>
            <!--
            <%- form.select('tags', tags, {
                fieldname: 'title',
                fieldvalue: 'id',
                matcher: function (tag, postTag) {
                    console.log('tag = ' + tag)
                    console.log('postTag = ' + postTag)
                    return tag == postTag.id;
                },
                name: 'tags[]',
                multiple: 'multiple',
                class: 'span3 chzn-select-create',
                'data-placeholder': t('post.actions.enterTags')
            }) %>
            -->

            <select id="tags" name="Content_tags" multiple="multiple" class="chzn-select-create form-control" data-placeholder="<%- t('post.actions.enterTags') %>">
                <% tags.forEach(function (tag) { %>
                    <option value="<%- tag.id %>"<%- post.tags.find(tag.id, 'id') ? ' selected="selected"':'' %>><%- tag.title %></option>
                <% }) %>
            </select>
        </div>

        <div class="form-group">
            <%- form.label('excerpt', t('post.excerpt')) %>
            <p class="instructions"><%= t('post.instructions.excerpt') %></p>
            <%- form.textarea('excerpt', {rows: 3, class: 'form-control'}) %>
        </div>

        <div class="form-group">
            <%- form.label('previewImage', t('post.previewImage')) %>
            <p class="instructions"><%= t('post.instructions.previewImage') %></p>
            <%- linkTo(icon('picture') + t('post.actions.previewImage'), '#', {id: 'previewImageUploadButton', class: 'btn btn-primary'}) %>
            &nbsp;
            <%- linkTo(icon('remove'), '#', {id: 'removePreviewImage', style: 'display: none;'}) %>
            <%- form.input('previewImage', {type: 'hidden'}) %>
        </div>

        <%- imageTag(post.previewImage, {
          id: 'previewImageImage',
          style: post.previewImage ? '' : 'display: none'
          }) %>
    </div>
</div>

<%- form.end() %>

<script type="text/javascript">
    $(document).ready(function() {
        // $(".content .chzn-select").chosen();

        setupRichtextEditors();

        $('#Content_createdAt').val('');
        var picker = $('#createdAtDatePicker').datetimepicker({
            orientation: 'left',
            pick12HourFormat: false
        }).data('datetimepicker');
        picker.setDate(new Date('<%- post.createdAt %>').getTime() - new Date().getTimezoneOffset() * 60000);

        var uploader = new qq.FileUploader({
            params: { _csrf: $('meta[name=csrf-token]').attr('content') },
            element: $('#previewImageUploadButton').get(0),
            action: '<%- pathFor('upload').add -%>',
            uploadButtonText: $('#previewImageUploadButton').html(),
            encoding: 'multipart',
            onComplete: function(id, filename, data) {
                $('#previewImage').val(data.url);
                $('#previewImageImage').show().attr('src', data.url);

                $.noty({ text: '<i class="icon-ok"></i> Preview image uploaded', type: 'success' });
            }
        });

        $('#removePreviewImage').bind("click", function() {
            $('#previewImage').val('');
            $('#previewImageImage').hide();
            return false;
        })
    });
</script>
