<%- form.input('type', {type: 'hidden'}) %>

<div class="span7">
    <div class="module">
        <div class="content">
            <div class="control-group">
                <%- form.label('title', {class: 'control-label'}) %>
                <div class="controls">
                    <%- form.input('title', {class: 'span7'}) %>
                </div>
            </div>

            <%- form.textarea('text', {rows: 28, class: 'richtext span6'}) %>
        </div>
    </div>
</div>

<div class="span3">
    <div class="module">
        <div class="content">
            <div class="form-actions">
                <%- form.submit(t('post.actions.publish')) %>
                <%- form.button(t('post.actions.draft')) %>
            </div>

            <div class="control-group pull-left">
                <%- form.label('createdAt') %>
                <div class="controls">
                    <div class="input-append">
                        <%- form.input('createdAt', {class: 'input-small date-picker'})
                        %><span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>

            <!--
            <div class="control-group pull-right">
                <label class="control-label" for="priority">
                    <%= __('Priority') %>
                    <i class="icon-info-sign" rel="popover" title="Help" data-content="<%= __('Priority combined with publish date determines the position on the page that this post will show') %>"></i>
                </label>
                <div class="controls">
                    <select id="priority" name="priority" class="input-small">
                        <option value="1"><%= __('Low') %></option>
                        <option value="2" selected="selected"><%= __('Normal') %></option>
                        <option value="3"><%= __('High') %></option>
                        <option value="4"><%= __('Featured') %></option>
                        <option value="5"><%= __('Headline') %></option>
                    </select>
                </div>
            </div>
            -->

            <div class="clearfix"></div>

            <div class="control-group">
                <%- form.label('tags') %>
                <p class="instructions"><%= t('post.instructions.tags') %></p>
                <div class="controls">
                    <%- form.select('tags', group.tags, {
                        fieldname: 'name',
                        matcher: function (groupTagName, postTag) {
                            return groupTagName === postTag.name;
                        },
                        name: 'tags[]',
                        multiple: 'multiple',
                        class: 'span3 chzn-select-create',
                        'data-placeholder': t('post.actions.enterTags')
                    }) %>
                </div>
            </div>

            <div class="control-group">
                <%- form.label('excerpt') %>
                <p class="instructions"><%= t('post.instructions.excerpt') %></p>
                <div class="controls">
                    <%- form.textarea('excerpt', {rows: 3, class: 'input-large'}) %>
                </div>
            </div>

            <div class="control-group">
                <%- form.label('previewImage') %>
                <div class="controls">
                    <%- linkTo(icon('picture') + t('post.actions.previewImage'), '#', {id: 'previewImageUploadButton'}) %>
                    <%- linkTo(icon('remove'), '#', {id: 'removePreviewImage'}) %>
                    <%- form.input('previewImage', {type: 'hidden'}) %>
                </div>
            </div>

            <%- imageTag(post.previewImage, {
              id: 'previewImageImage',
              style: post.previewImage ? '' : 'display: none'
              }) %>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".content .chzn-select").chosen();

        setupRichtextEditors();

        //bind form success
        $('#content-form').bind('ajax:success', function(e, res) {
            var type, icon;
            if (res.code === 200) {
                type = 'success';
                icon = '<%- icon('ok') %>';
                setTimeout(function() {
                    window.location = '<%- pathTo.groupContent(group) %>';
                }, 1000);
            } else if (res.code) {
                type = 'error';
                icon = '<%- icon('warning-sign') %>';
            }

            $.noty({
                text: icon + res.html,
                type: type
            });

        });

        var uploader = new qq.FileUploader({
            params: { _csrf: $('meta[name=csrf-token]').attr('content') },
            element: $('#previewImageUploadButton').get(0),
            action: '<%- pathFor('upload').add -%>',
            uploadButtonText: $('#previewImageUploadButton').html(),
            encoding: 'multipart',
            onComplete: function(id, filename, data) {
                $('#previewImage').val(data.url);
                $('#previewImageImage').show().attr('src', data.url);

                $.noty({ text: '<i class="icon-ok"></i> Preview image uploaded', type: 'success' });
            }
        });

        $('#removePreviewImage').bind("click", function() {
            $('#previewImage').val('');
            $('#previewImageImage').hide();
            return false;
        })
    });
</script>
