<li class="nav-header"><%= t('streams.headers.import') %></li>

<%- li('manage-streams') %>
    <%- linkTo(icon('signin') + t('streams.actions.manage'),
        pathTo.streams) %>
<%- liEnd %>

<%- li('new-stream') %>
    <%- linkTo(icon('plus') + t('streams.actions.add'),
        pathTo.newStream) %>
<%- liEnd %>

