
<li class="nav-header"><%= t('content.header.tags') %></li>

<%- li('index-tags') %>
    <%- linkTo(icon('tags') + t('content.manageTags'),
        pathTo.listTags('content')) %>
<%- liEnd %>

<% tags.forEach(function(tag) { %>
    <% if (tag) { %>
        <%- li('content-' + tag.id) %>
            <%- linkTo(icon('tag') + tag.title +
                '<span class="badge pull-right">' +
                formatNumber(tag.contentCount),
                pathTo.filteredContent(tag.id.toString())) %>
        <%- liEnd %>
    <% } %>
<% }) %>

<%- li('new-tags') %>
    <%- linkTo(icon('plus') + t('tag.new'),
        pathTo.newTag('content')) %>
<%- liEnd %>
