<li class="nav-header"><%= t('stream.import') %></li>

<%- li('manage-streams') %>
    <%- linkTo(icon('signin') + t('stream.manage'),
        pathTo.streams) %>
<%- liEnd %>

<%- li('new-stream') %>
    <%- linkTo(icon('plus') + t('stream.add'),
        pathTo.newStream) %>
<%- liEnd %>

