<li class="nav-header"><%= t('stream.import') %></li>

<%- li('manage-streams') %>
    <%- linkTo(icon('signin') + t('stream.manage'),
        pathTo.groupStreams(group)) %>
<%- liEnd %>

<%- li('new-stream') %>
    <%- linkTo(icon('plus') + t('stream.add'),
        pathTo.newGroupStream(group)) %>
<%- liEnd %>

