
<li class="nav-header"><%= t('content.header.tags') %></li>

<%- li('manage-tags') %>
    <%- linkTo(icon('tags') + t('content.manageTags'),
        pathTo.groupTags(req.group)) %>
<%- liEnd %>

<% tags.forEach(function(tag) { %>
    <% if (tag) { %>
        <%- li('content-' + tag.id) %>
            <%- linkTo(icon('tag') + tag.name +
                '<span class="badge pull-right">' +
                formatNumber(tag.contentCount),
                pathTo.filteredGroupContent(tag.id.toString())) %>
        <%- liEnd %>
    <% } %>
<% }) %>

<%- li('new-tag') %>
    <%- linkTo(icon('plus') + t('tag.new'),
        pathTo.newGroupTag(req.group)) %>
<%- liEnd %>
