<div class="span2">
    <div class="module">
        <ul class="nav nav-list">
            <% var li = matcher(pageName, '<li class="active">', '<li>'), liEnd = '</li>'; %>
            <li class="nav-header"><%= t('content.header.filter') %></li>
            <%- li('content') %>
                <%- linkTo(icon('star') + t('content.all'), pathTo.group_content(req.group)) %>
            <%- liEnd %>
            <% var iconFor = {
                blogpost: 'align-left',
                discussion: 'comments',
                statusupdate: 'user',
                poll: 'bar-chart',
                imported: 'cloud'
            } %>
            <% 'blogpost discussion statusupdate poll imported'.split(' ').forEach(function (f) { %>
                <%- li('content-' + f) %>
                    <%- linkTo(icon(iconFor[f]) + t('content.' + f), pathTo.filteredGroupContent(req.group, f)) %>
                <%- liEnd %>
            <% }) %>

            <li class="nav-header"><%= t('content.header.tags') %></li>
            <%- li('manage-tags') %>
                <%- linkTo(icon('tags') + t('content.manageTags'), pathTo.group_tags(req.group)) %>
            <%- liEnd %>
            <%
                var tags = (req.group.tags || []).slice(0, 5);
                tags = _.filter(tags, function(tag) { return tag && tag.contentCount > 0; });
                if (typeof filter != 'undefined' && filter && !_.find(tags, function(t) { return t && t.id == filter; })) {
                    tags.push(_.find(req.group.tags || [], function(t) { return t && t.id == filter; }));
                }
            %>

            <% tags.forEach(function(tag) { %>
                <% if (tag) { %>
                <li<%- pageName === 'content-' + tag.id ? ' class="active"' : '' %>>
                    <%- linkTo(icon('tag') + tag.name +
                    '<span class="badge pull-right">' + formatNumber(tag.contentCount), pathTo.filteredGroupContent(tag.id.toString())) %>
                </li>
                <% } %>
            <% }) %>

            <li<%- pageName === 'new-tag' ? ' class="active"' : '' %>><a href="<%- pathTo.new_group_tag(req.group) %>"><i class="icon-plus"></i> <%= t('tag.new') %></a></li>

            <li class="nav-header"><%= __('Import streams') %></li>
            <li<%- pageName === 'manage-streams' ? ' class="active"' : '' %>><a href="<%- pathTo.group_streams(req.group) %>"><i class="icon-signin"></i> <%= __('Manage streams') %></a></li>
            <li<%- pageName === 'new-stream' ? ' class="active"' : '' %>><a href="<%- pathTo.new_group_stream(req.group) %>"><i class="icon-plus"></i> <%= __('Add new stream') %></a></li>

            <li class="nav-header"><%= __('Actions') %></li>
            <li<%- pageName === 'new' ? ' class="active"' : '' %>><a href="<%- pathTo.new_group_content_entry(req.group) %>"><i class="icon-pencil"></i> <%= __('New blog post') %></a></li>
        </ul>
    </div>
</div>
