<li class="nav-header"><%= t('content.header.actions') %></li>

<% editableContentTypes.forEach(function (type) { %>
    <%- li('new') %>
        <%- linkTo(icon(type.icon) + t('content.new' + type.name),
            pathTo.newContentForm(type.name)) %>
    <%- liEnd %>
<% }) %>

<li class="nav-header"><%= t('content.header.filter') %></li>

<%- li('content') %>
    <%- linkTo(icon('star') + t('content.all'),
        pathTo.content) %>
<%- liEnd %>

<% contentTypes.forEach(function (type) { %>
    <%- li('content-' + type.name) %>
        <%- linkTo(
            icon(type.icon) + t('content.' + type.name),
            pathTo.filteredContent(type.name)) %>
    <%- liEnd %>
<% }) %>
