<div class="page-title">
    <h3><%- t('group.headers.headerfooter') %></h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-body">
                <%- formTagBegin({ action: pathTo.groupSave, id: 'settingsForm', class: 'form-vertical', method: 'post', enctype: 'multipart/form-data', remote: true }) -%>
                    <div class="form-group">
                        <label class="control-label" for="navBarType">
                            <%- t('group.labels.navbarType') %>
                        </label>
                        <select id="navBarType" name="navBarType" class="form-control">
                            <option value="default"><%- t('group.labels.navbarDefault') %></option>
                            <option value="fixed" <%- group.navBarType === 'fixed' ? 'selected="selected"':'' %>><%- t('group.labels.navbarFixed') %></option>
                            <option value="mouseover" <%- group.navBarType === 'mouseover' ? 'selected="selected"':'' %>><%- t('group.labels.navbarMouseover') %></option>
                            <option value="click" <%- group.navBarType === 'click' ? 'selected="selected"':'' %>><%- t('group.labels.navbarMouseclick') %></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="navBarStyle">
                            <%- t('group.labels.navbarStyle') %>
                        </label>
                        <select id="navBarStyle" name="navBarStyle" class="form-control">
                            <option value="default"><%- t('group.labels.navbarDefault') %></option>
                            <option value="inverse" <%- group.navBarStyle === 'inverse' ? 'selected="selected"':'' %>><%- t('group.labels.navbarInverse') %></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="headerHtml">
                            <span>
                                <%- t('group.labels.headerHtml') %>
                                <i class="icon-info-sign" rel="popover" title="<%- t('common.help') %>" data-content="<%- t('group.help.headerHtml') %>"></i>
                            </span>
                        </label>
                        <textarea class="input-xlarge span6 richtext" id="headerHtml" name="headerHtml" rows="10"><%- group.headerHtml %></textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="footerHtml">
                            <span>
                                <%- t('group.labels.footerHtml') %>
                                <i class="icon-info-sign" rel="popover" title="<%- t('common.help') %>" data-content="<%- t('group.help.footerHtml') %>"></i>
                            </span>
                        </label>
                        <textarea class="input-xlarge span6 richtext" id="footerHtml" name="footerHtml" rows="10"><%- group.footerHtml %></textarea>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><%- t('group.actions.save') %></button>
                    </div>
                <%- formTagEnd() %>
            </div>
        </div>
    </div>
</div>