<div class="row-fluid">

    <% include _sidebar %>

    <div class="span10">
        <div class="module">
            <div class="content">

                <%- formTagBegin({ action: pathTo.groupSave, id: 'settingsForm', class: 'form-vertical', method: 'post', enctype: 'multipart/form-data', remote: true }) -%>

                    <h3><%- t('group.headers.locale') %></h3>

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="googleAnalyticsId"><%- t('group.labels.locale') %></label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="locale" name="locale" value="<%- group.locale %>">
                        </div>
                        <span class="help-block"><%- t('group.help.locale') %></span>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><%- t('group.actions.save') %></button>
                    </div>

                <%- formTagEnd() %>

            </div>
        </div>
    </div>
</div>
