<div class="row-fluid">

    <% include _sidebar %>

    <div class="span10">
        <div class="module">
            <div class="content">

                <%- formTagBegin({ action: pathTo.groupSave, id: 'settingsForm', class: 'form-vertical', method: 'post', enctype: 'multipart/form-data', remote: true }) -%>

                    <h3>
                        <%- t('group.headers.settings') %>
                    </h3>

                    <hr/>

                    <div class="control-group">
                        <label class="control-label" for="name"><%- t('group.labels.title') %></label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" name="name" value="<%- group.name %>">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="joinPermissions">
                            <span>
                                <%- t('group.labels.joinPermissions') %>
                                <i class="icon-info-sign" rel="popover" title="<%- t('common.help') %>" data-content="<%- t('group.help.joinPermissions') %>"></i>
                            </span>
                        </label>
                        <div class="controls">
                            <select id="joinPermissions" name="joinPermissions">
                                <option value="free" <%- group.joinPermissions == "free" ? 'selected="selected"':'' %>><%- t('group.labels.freeToJoin') %></option>
                                <option value="request" <%- group.joinPermissions == "request" ? 'selected="selected"':'' %>><%- t('group.labels.requestToJoin') %></option>
                                <option value="closed" <%- group.joinPermissions == "closed" ? 'selected="selected"':'' %>><%- t('group.labels.inviteOnly') %></option>
                            </select>
                        </div>
                    </div>

                    <hr/>

                    <div class="control-group">
                        <input type="hidden" id="favicon" name="favicon" value="<%- group.favicon %>" />
                        <label class="control-label" for="favicon"><%- t('group.labels.favicon') %></label>
                        <div class="controls">
                            <a class="btn" href="#" id="faviconButton"><i class="icon-picture"></i> <%- t('group.actions.uploadFavicon') %></a>

                            <% if(group.favicon) { %>
                                <img src="<%- group.favicon %>" id="faviconPreview" width="16" height="16" />
                            <% } %>
                        </div>

                        <br/>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="metaDescription">
                            <span>
                                <%- t(['group.labels.metaDescription', '&lt;metatags&gt;']) %>
                                <i class="icon-info-sign"  rel="popover" title="<%- t('common.help') %>" data-content="<%- t('group.help.metaDescription') %>"></i>
                            </span>
                        </label>
                        <div class="controls">
                            <textarea class="input-xlarge span4" id="metaDescription" name="metaDescription"><%- group.metaDescription %></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="metaKeywords">
                            <span>
                                <%- t(['group.labels.metaKeywords', '&lt;metatags&gt;']) %>
                                <i class="icon-info-sign" rel="popover" title="<%- t('common.help') %>" data-content="<%- t('group.help.metaKeywords') %>"></i>
                            </span>
                        </label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="metaKeywords" name="metaKeywords" value="<%- group.metaKeywords %>">
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><%- t('group.actions.save') %></button>
                    </div>

                <%- formTagEnd() %>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        //bind the form ajax
        $('#settingsForm').bind('ajax:success', function(e, data) {
            $.noty({text: '<i class="icon-' + data.icon + '"></i> ' + data.message, type: data.status});

            //refresh the page
            setTimeout(function() { window.location = window.location; }, 1000);
        });

        //setup the file uploader
        var uploader = new qq.FileUploader({
            params: { _csrf: $('meta[name=csrf-token]').attr('content') },
            element: $('#faviconButton').get(0),
            action: '<%- pathFor('upload').add -%>',
            uploadButtonText: $('#faviconButton').html(),
            encoding: 'multipart',
            onComplete: function(id, filename, data) {
                $('#favicon').val(data.url);
                $('#faviconPreview').attr('src', data.url);

                $.noty({ text: '<i class="icon-ok"></i> <%- t('group.help.faviconUploaded') %>', type: 'success' });
            }
        });
    });
</script>

