<li class="nav-header"><%- t('pages.headers.pages') %></li>

<%- li('index') %>
    <%- linkTo(icon('sitemap') + t('pages.sitemap'),
        pathTo.pages) %>
<%- liEnd %>
<%- li('specials') %>
    <%- linkTo(icon('star') + t('pages.specials'),
        pathTo.specialPages) %>
<%- liEnd %>

<li class="nav-header"><%- t('pages.headers.actions') %></li>

<%- li('new-page') %>
    <%- linkTo(icon('file-alt') + t('pages.actions.new'),
        pathTo.newPage) %>
<%- liEnd %>
<%- li('new-special') %>
    <%- linkTo(icon('star') + t('pages.actions.newSpecial'),
        pathTo.newSpecial) %>
<%- liEnd %>