<div class="row">

  <%- partial('pages/sidebar', { locals: { pageName: 'new-page' }}) %>

  <div class="span10">
    <div class="module">
      <div class="content">

        <h3><%- __('Add new page') %></h3>

        <hr/>

        <%- formTagRemote(pathTo.pages(), { method: 'POST', id: 'page_form', class: 'form-vertical'}) %>
          <%- partial('pages/pageForm', {locals: { page: page}}) %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> <%- __('Create page') %></button>
            <%- linkTo(__('Cancel'), pathTo.pages(), {class: 'btn'}) %>
          </div>
        <%- end() %>

      </div>
    </div>
  </div>
</div>
