<div class="header-container">
    <div class="container">
        <div class="row">
            <div class="column span<%- size[0] || 12 %> module-list">
                <%- column[0] %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="column span<%- size[1] || 4 %> module-list"><%- column[1] %></div>
      <div class="column span<%- size[2] || 4 %> module-list"><%- column[2] %></div>
      <div class="column span<%- size[3] || 4 %> module-list"><%- column.slice(3).join(' ') %></div>
    </div>
</div>

<div class="cols3">
  <div class="col">1</div>
  <div class="col">2</div>
  <div class="col">3</div>
</div>

