<ul class="nav nav-tabs" id="layoutTabs">
    <li<%- req.page.templateId || req.page.grid.indexOf('<') > -1 ? '':' class="active"' %>>
        <a href="#columns-layouts" data-toggle="tab"><%- __('Columns') %></a>
    </li>
    <li<%- req.page.grid.indexOf('<') == -1 ? '':' class="active"' %>>
        <a href="#custom-layouts" data-toggle="tab"><%- __('Custom') %></a>
    </li>
</ul>

<div class="tab-content layout-tab">
    <div class="column-layouts tab-pane <%- req.page.templateId || req.page.grid.indexOf('<') > -1 ? '':'active' %>" id="columns-layouts">
      <ul>
        <% req.grids.forEach(function (grid) { %>
            <li class="<%- req.page && grid.name === req.page.grid ? 'selected-grid' : '' %>" onclick="selectGrid('<%- grid.name %>', this)">
              <%- grid.preview %>
            </li>
        <% }); %>
      </ul>
    </div>

    <div class="custom-layouts tab-pane <%- req.page.grid.indexOf('<') == -1 ? '':'active' %>" id="custom-layouts">
        <p>
            <%- __('Enter your custom layout HTML here:') %>
        </p>
        <form id="custom-layout-form" onsubmit="return selectGrid($('#custom-layout-code').val());">
            <textarea name="code" id="custom-layout-code" wrap="off"><%- req.page.grid.indexOf('<') > -1 ? req.page.grid : '' %></textarea>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" id="apply-custom-layout-button"><%- __('Apply layout') %></button>
                <button type="reset" class="btn" id="theme-undo-button"><%- __('Reset') %></button>
            </div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
