<div class="media">
	<a href="<%- specialPagePath('profile', { username: post.author.username }) %>" class="pull-left">
    	<img src="<%- post.author.avatar %>" style="width: 64px;">
    </a>

    <div class="media-body">
    	<a href="<%- specialPagePath('profile', { username: post.author.username }) %>"><%- post.author.displayName %></a>
    	<br>
    	<%- post.text %>
    </div>
</div>