<div data-id="modules" class="content table-content" data-remote-id="modules-table">
    <table class="table table-striped modules-table" id="modules-table">
        <thead>
        <tr>
            <th width="25%" colspan="2">
                <%- __('Modules') %>
            </th>
            <th width="">
                <%- __('Description') %>
            </th>
            <th width="70">
                <%- __('Enabled') %>
            </th>
            <th width="70">
                <%- __('Actions') %>
            </th>
        </tr>
        </thead>
        <tbody>
            <% modulesAvailable.forEach(function (module) { if (module && !module.info.system) { %>
            <tr>
                <td width="2%">
                    <%- icon(module.info.icon || 'cog') %>
                </td>
                <td>
                    <%= module.info.title || module.info.name %>
                </td>
                <td>
                    <%= module.info.description || 'No description' %>
                </td>
                <td>
                    <%- moduleEnabled(module.info.name) ? 'Yes' : 'No' %>
                </td>
                <td nowrap="nowrap" align="right">
                    <% if (moduleEnabled(module.info.name)) { %>
                        <% if (module.info.settings) { %>
                            <%- linkTo(
                                __('Edit'),
                                pathTo.setupModule(module.info.name)
                            ) %>&nbsp;
                        <% } %>
                        <a rel="tooltip" data-original-title="<%- __('Disable this module') %>" href="<%- pathTo.disableModule(module.info.name) %>">
                            <i class="icon-remove"></i></a>
                    <% } else { %>
                        <%- linkTo(
                            __('Enable'),
                            pathTo.enableModule(module.info.name)
                        ) %>
                    <% } %>
                </td>
            </tr>
            <% }}); %>
        </tbody>
    </table>
</div>
