<form action="<%- widgetCoreAction('configure') %>" method="POST" data-remote="true" data-widget-action="render:<%- widget.id %>" class="form-horizontal widget-settings-form">
  <div class="modal wide" id="modal-settings">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3><%- __('Edit widget settings') %></h3>
    </div>
    <div class="modal-body">

      <div class="row main-widget-settings">
        <div class="span3 widget-title">
          <div class="control-group">
            <label class="control-label" for="widget-title"><%- __('Title') %></label>
            <div class="controls">
              <input type="text" class="xx-small" value="<%- widget.settings.title %>" id="widget-title" name="title" placeholder="">
            </div>
          </div>
        </div>
        <div class="span2 widget-visibility">
          <div class="control-group">
            <label class="control-label" for="widget-visibility"><i class="icon-eye-open"></i></label>
            <div class="controls">

              <input type="hidden" id="visibility" name="visibility" value="<%- visibility.selected.value %>" />

              <div class="btn-group" id="widget-visibility">
                <button class="btn btn-<%- visibility.selected.class %>" data-toggle="dropdown" tabindex="-1"><%- visibility.selected.name %></button>
                <button class="btn dropdown-toggle btn-<%- visibility.selected.class %>" data-toggle="dropdown" tabindex="-1">
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu pull-right">
                  <% visibility.forEach(function (v) { %>
                    <li>
                      <a href="#<%- v.value %>" data-value="<%- escape(JSON.stringify(v)) %>" rel="widget-visibility">
                        <i class="icon-<%- v.icon %>"></i>
                        <%- v.name %>
                        <br/>
                        <small><%- v.description %></small>
                      </a>
                    </li>
                  <% }); %>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="span2 widget-privacy">
          <div class="control-group">
            <label class="control-label" for="privacy"><i class="icon-lock"></i></label>
            <div class="controls">

              <input type="hidden" id="privacy" name="privacy" value="<%- privacy.selected.value %>" />

              <div class="btn-group" id="widget-privacy">
                <button class="btn btn-<%- privacy.selected.class %>" data-toggle="dropdown" tabindex="-1"><%- privacy.selected.name %></button>
                <button class="btn dropdown-toggle btn-<%- privacy.selected.class %>" data-toggle="dropdown" tabindex="-1">
                  <span class="caret"></span>
                </button>

                <ul class="dropdown-menu pull-right">
                  <% privacy.forEach(function (p) { %>
                    <li>
                      <a href="#<%- p.value %>" data-value="<%- escape(JSON.stringify(p)) %>" rel="widget-privacy">
                        <i class="icon-<%- p.icon %>"></i>
                        <%- p.name %>
                        <br/>
                        <small><%- p.description %></small>
                      </a>
                    </li>
                  <% }); %>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

      <%- buildForm(widgetCore.info.settings, widget.settings) %>

      <div id="modal-image-tabs"></div>
    </div>
    <div class="modal-footer">
      <div class="btn-toolbar" style="margin : 0;">
        <div class="btn-group">
          <button class="btn btn-primary" type="submit"><%- __('Save settings') %></button>
        </div>
        <div class="btn-group">
          <a class="btn" data-dismiss="modal"><%- __('Cancel') %></a>
        </div>
      </div>
    </div>
  </div>
</form>
