<div class="row">

    <% include ../content/_sidebar %>

    <div class="span10">
        <div class="module">
            <div class="content">
                <h3><%= t('tag.add') %></h3>
                <hr/>

                <%- formTagBegin({action: pathTo.groupTags(req.group), remote: true, id: 'tag-form' }) %>
                    <input type="hidden" name="id" value="<%- tag && tag.id %>" />

                    <% include _form %>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><%= t('tag.add') %></button>
                        <a href="<%- pathTo.groupTags(req.group) %>" class="btn"><%= t('common.cancel') %></a>
                    </div>
                <%- formTagEnd() %>

            </div>
        </div>
    </div>
</div>
