<div class="row-fluid">

    <%- renderPartial('_sidebar') %>

    <div class="span10">
        <div class="module">
            <div class="content">
                <h3><%= t('tags.headers.add') %></h3>
                <hr/>

                <%- formTagBegin({action: pathTo.tag(sectionName), remote: true, method: 'PUT', id: 'tag-form' }) %>
                    <input type="hidden" name="id" value="<%- tag && tag.id %>" />

                    <% include _form %>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><%= t('tags.actions.add') %></button>
                        <a href="<%- pathTo.tags(type) %>" class="btn"><%= t('common.cancel') %></a>
                    </div>
                <%- formTagEnd() %>

            </div>
        </div>
    </div>
</div>
