<% if(!req.query._pjax) { %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- t(['admin.title', req.group.name]) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- csrfMetaTag() %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/theme-admin.css" id="main-stylesheet" />

    <style id="preview-stylesheet" type="text/css"></style>
    <meta name="groupId" content="<%- req.group && req.group.id %>" />

    <% if (req.group.favicon) { %>
    <link rel="icon" type="image/png" href="<%- req.group.favicon %>" />
    <% } %>

    <!-- TODO: implement contentFor('footer') helper and put following line to footer -->
    <script type="text/javascript">
        canEdit = <%- (request.member && request.user.canEdit) ? "true":"false" %>;
    </script>
    <%- javascriptIncludeTag.call({controller: {app: req.app.parent.parent}}, 'jquery', 'bootstrap', 'bootstrap-typeahead', 'jquery-easyticker', 'jquery-hoverintent', 'jquery-blink', 'jquery-valadd', 'jquery-textarea-autogrow', 'jquery-noty', 'jquery-cookie', 'jquery-pjax', 'jquery-hovercard', 'jquery-highlight', 'uploader', 'rails', 'hatch-search', 'hatch', 'hatch-io', 'jquery-zoom', 'application') %>
    <% if (request.member && request.user.canEdit) { %>
    <%- javascriptIncludeTag.call({controller: {app: req.app.parent.parent}}, 'jquery-ui.min', 'chosen.jquery', 'jquery-rule', 'jquery-datatables', 'jquery-selectrange', 'jquery-blockui', 'jquery-spectrum', 'jquery-colorscheme', 'hatch-dragdrop', 'hatch-css-properties', 'hatch-styleeditor', 'hatch-inline-edit', 'hatch-management') %>
        <script src="/javascripts/redactor/redactor.js"></script>
        <link rel="stylesheet" href="/javascripts/redactor/redactor.css" />
    <% } %>
</head>
<body class="navbar-fixed">

    <div id="meny"></div>
    
    <div id="all">
    <% } else { %>
    <!-- pjax title -->
        <title><%- t(['admin.title', req.group.name]) %></title>
    <% } %>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <% linkTo(
                        icon('cog') +
                        t(['admin.title', '<span class="group-name">' + req.group.name + '</span>']), req.group.url, {class: 'brand'}) %>
                    </a>
                    <div class="pull-right">
                        <%- hook('layout.topBar.left') %>
                        <%- hook('layout.topBar.middle') %>
                        <% if (request.user) { var user = request.user; %>
                        <ul class="nav">
                            <li class="dropdown" id="menu1">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                                    <%= user.displayName || user.username || user.email %>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%- linkTo(icon('user') + t('user.viewProfile'), specialPagePath('profile', { username: req.user.username })) %></li>
                                    <li><%- linkTo(icon('cogs') + t('user.editAccont'), specialPagePath('account')) %></a></li>
                                    <li class="divider"></li>
                                    <li> <%- linkTo(icon('off') + t('user.signOut'), pathFor('user').logout) %> </li>
                                </ul>
                            </li>
                        </ul>
                        <% } %>
                        <%- hook('layout.topBar.right') %>
                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container" id="main">

        <div id="row-content">
            <% tabs = _.sortBy(tabs, 'rank'); %>

            <header class="jumbotron subhead" id="overview" xmlns="http://www.w3.org/1999/html">
                <div class="subnav">
                    <ul class="nav nav-pills">
                        <% tabs.forEach(function(tab) {
                           var tabUrl = pathFor(tab.module || 'admin')[tab.url](req.group.id);
                           if (!tab.module || moduleEnabled(tab.module)) { %>
                            <li<%- tab.name === sectionName ? ' class="active"' : '' %>>
                                <%- linkTo(t('tabs.' + tab.name), tabUrl) %>
                            </li>
                        <% }
                        }) %>

                        <li class="pull-right">
                            <%- linkTo(icon('chevron-left') + t('back'), '//' + req.group.url, {rel: "nopjax"}) %>
                        </li>
                    </ul>
                </div>
            </header>

            <%- body %>
        </div>

        <hr />

        <div class="footer-container">
            <footer>
                <div class="pull-right">
                    <i class="icon-bolt"></i>
                    <%- __('rendered in') %> <%- (new Date() - req.startedAt)/1000 %>s
                </div>

                <%- __('Built on the Hatch Platform') %>
            </footer>
        </div>

        <%- hook('layout.body.end') %>

    <% if(!req.query._pjax) { %>

    </div>
</div>

<% if(req.group.googleAnalyticsId) { %>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%- req.group.googleAnalyticsId %>']);
    _gaq.push(['_setDomainName', '<%- req.headers.host %>']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<% } %>

</body>
</html>

<% } %>
