<div class="module<%- widget.notEditable ? ' not-editable-widget' : ''%> contrast-<%- widget.settings.contrastMode || '0' %> <%- widget.settings.visibility %>" data-id="<%- widget.id %>" data-remote-id="<%- widget.id %>" id="<%- widget.id %>">

  <% if (canEdit && !widget.hasOwnProperty('notEditable')) { %>
  <div class="pull-right">
    <div class="module-controls">

      <a href="#move" class="move" rel="tooltip" title="<%= __('drag to move widget') %>"
      ><i class="icon-move"></i></a>

      <a href="<%- widgetAction('contrast') %>" data-remote="true" class="adjust" rel="tooltip" title="<%= __('toggle widget style') %>"
      ><i class="icon-adjust"></i></a>

      <% if (inlineEditAllowed) { %>
      <a href="#inline-edit" class="inline-edit-link" rel="tooltip" title="<%= __('click to edit widget contents') %>"
      ><i class="icon-pencil"></i></a>
      <% } %>

      <a href="<%- widgetAction('settings') %>" data-modal="true" data-remote="true" class="edit"
        rel="tooltip" title="<%= __('click to edit settings') %>"
      ><i class="icon-cog"></i></a>

      <a href="#delete" class="delete" rel="tooltip" title="<%= __('click to delete widget') %>"
      ><i class="icon-trash"></i></a>

    </div>
  </div>
  <% } %>

  <div class="content">
    <%- body %>
  </div>

</div>

