<% if (moduleEnabled('facebook')) { %>
    <li><a href="<%- pathFor('facebook').auth %>"><i class="icon-facebook-sign"></i> <%- __('Sign in with') %> Facebook</a></li>
<% } %>
<% if (moduleEnabled('linkedin')) { %>
    <li><a href="<%- pathFor('linkedin').auth %>"><i class="icon-linkedin-sign"></i> <%- __('Sign in with') %> LinkedIn</a></li>
<% } %>
<% if (moduleEnabled('twitter')) { %>
    <li><a href="<%- pathFor('twitter').auth %>"><i class="icon-twitter-sign"></i> <%- __('Sign in with') %>Twitter</a></li>
<% } %>
<% if (moduleEnabled('google-oauth')) { %>
    <li><a href="<%- pathFor('google-oauth').auth %>"><i class="icon-google-plus"></i> <%- __('Sign in with') %> Google</a></li>
<% } %>
