<% include ../settings-head.ejs %>

<%- form.label('numberOfPages', 'Number of pages', {class: 'control-label'}) %>
<div class="controls">
    <%- form.select('numberOfPages', [1,2,3,4,5,6,7,8,9,10]) %>
</div>

<ul class="nav nav-tabs" id="pagesTabs">
    <% for(var i = 1; i <= 10; i++) { %>
    <li class="<%- i == 1 ? 'active':'' %> <%- i > (widget.settings.numberOfPages || 3) ? 'hidden':'' %>">
        <a href="#page-<%- i %>" data-toggle="tab"><%- i %></a>
    </li>
    <% } %>
</ul>

<div class="tab-content" id="pagesContent">
    <% for(var i = 1; i <= 10; i++) { %> 
    <div class="tab-pane <%- i == 1 ? 'active':'' %>" id="page-<%- i %>">
        <div class="control-group">
            <input type="hidden" name="image-<%- i %>" id="image-<%- i %>" value="<%- widget.settings['image-' + i] %>" />
            <label class="control-label" for="favicon">Image</label>
            <div class="controls">
                <a class="btn" href="#" id="image-<%- i %>-button"><i class="icon-picture"></i> Click to upload an image</a>

                <p>
                    <br/>
                    <img src="<%- widget.settings['image-' + i] %>" id="image-preview-<%- i %>" height="64" width="80" style="<%- widget.settings['image-' + i] ? '':'display: none;' %>" class="thumbnail" />
                </p>
            </div>
        </div>

        <%- form.label('title', {for: 'title-' + i}) %>
        <%- form.input('title-' + i) %>
        <%- form.label('text', {for: 'text-' + i}) %>
        <%- form.input('text-' + i) %>
        <%- form.label('link', {for: 'link-' + i}) %>
        <%- form.input('link-' + i) %>
    </div>
    <% } %>
</div>

<script type="text/javascript">
    $('#numberOfPages').on('change', function() {
        var i = this.value - 1;

        $('#pagesTabs li').removeClass('hidden active');
        $('#pagesTabs li:gt(' + i + ')').addClass('hidden');
        $('#pagesContent div').removeClass('hidden active');

        $('#pagesTabs li:first').addClass('active');
        $('#pagesContent div:first').addClass('active');
    });

    <% for (var i = 1; i <= 10; i++) { %>
        (function () {
             var uploader = new qq.FileUploader({
                params: { _csrf: $('meta[name=csrf-token]').attr('content') },
                element: $('#image-<%-i%>-button').get(0),
                action: '<%- pathFor('upload').add -%>',
                uploadButtonText: $('#image-<%-i%>-button').html(),
                encoding: 'multipart',
                onComplete: function(id, filename, data) {
                    $('#image-<%-i%>').val(data.url);
                    $('#image-preview-<%-i%>').show().attr('src', data.url);

                    $.noty({
                        text: '<%- icon('ok') + t('common.imageUploaded') %>',
                        type: 'success'
                    });
                }
            });
        })();
    <% } %>
</script>

<% include ../settings-foot.ejs %>
