<% if (widget.settings.title) { %>
    <% if (widget.settings.anchor) { %>
        <a name="<%- widget.settings.title.toLowerCase().replace(/[^-a-zA-Z0-9\s]+/ig, '').replace(/\s/gi, "-") %>"></a>
    <% } %>
    <h2><%- widget.settings && widget.settings.title || 'Carousel' %></h2>
<% } %>

<% if (!widget.settings.numberOfPages) { %>
    <p>
        <%- t('carousel.helpMessage') %>
    </p>
<% } else { %>
    <div class="carousel slide" id="carousel-<%- widget.id %>">
        <div class="carousel-inner">
            <% for (var i = 1; i <= widget.settings.numberOfPages; i++) { %>
                <div class="<%- i == 1 ? 'active':'' %> item">
                    <img src="<%- widget.settings['image-' + i] %>" alt="">
                    <% if (widget.settings['title-' + i] || widget.settings['text-' + i]) { %>
                        <div class="carousel-caption">
                            <% if (widget.settings['link-' + i]) { %><a href="<%- widget.settings['link-' + i] %>"><% } %>
                                <h4><%- widget.settings['title-' + i] %></h4>
                                <p><%- widget.settings['text-' + i] %></p>
                            <% if (widget.settings['link-' + i]) { %></a><% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>

        <% if (1 < widget.settings.numberOfPages) { %>
            <a class="carousel-control left" href="#carousel-<%- widget.id %>" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel-<%- widget.id %>" data-slide="next">&rsaquo;</a>
        <% } %>
    </div>

    <% if (1 < widget.settings.numberOfPages) { %>
        <script type="text/javascript">
            $(function() {
                $('#carousel-<%- widget.id %>').carousel();
            });
        </script>
    <% } %>
<% } %>
